/* ChatRoom.css */
.chatContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 30px; /* padding을 줄여 디자인에 집중 */
  box-sizing: border-box;
}

.chatContent {
  max-width: 800px;
  width: 100%; /* 채팅창 너비를 100%로 설정 */
  margin: 0 auto;
  text-align: center;
  color: #333; /* 글자색을 약간 어둡게 */
  border-radius: 15px; /* 모서리를 둥글게 */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  box-sizing: border-box;
  background-color: var(--color-dark-2);
}

body.light .chatContent {
  background-color: var(--color-light-2);
}

.chatHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-3);
    color: var(--color-dark-main-text);
    font-weight: bold;
    padding: 20px 0;
    box-sizing: border-box;
}

body.light .chatHeader {
  background-color: var(--color-light-3);
  color: var(--color-light-main-text);
}



.chatBox {
  height: 50vh; /* 채팅 박스의 높이 조정 */
  overflow-y: auto; /* 내용이 넘칠 때만 스크롤 표시 */
  border: none; /* 테두리 제거 */
  margin-bottom: 20px;
  padding: 20px;
  color: #333;

  border-radius: 10px; /* 채팅 박스 모서리를 둥글게 */
  text-align: left;
  box-sizing: border-box;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* 내부 그림자 효과 추가 */
}

.msgTime {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.message {
  padding: 10px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end; /* 시간과 텍스트를 하단에 정렬 */
  box-sizing: border-box;
}

/* 보낸 메시지의 스타일 */
.message[style*="flex-end"] .messageText {
    background-color: #dcf8c6; /* 보낸 메시지 배경색 변경 */
}

/* 받은 메시지의 스타일 */
.message[style*="flex-start"] .messageText {
    background-color: #e1e1e1; /* 받은 메시지 배경색 변경 */
}

.messageText {
  display: flex;
  flex-direction: column;
  padding: 12px 15px; /* 내부 패딩 조정 */
  background-color: #f0f0f0;
  color: #333;
  border-radius: 15px; /* 메시지 버블 둥글게 */
  max-width: 70%; /* 메시지 버블 최대 너비 조정 */
  word-break: break-word;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); /* 메시지에 그림자 추가 */
}

.messageText strong {
  font-weight: bold;
  color: #2c3e50; /* 닉네임 글자 색상 */
  margin-bottom: 5px;
}

.inputContainer {
  display: flex;
    padding: 10px;
    background-color: var(--color-dark-3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body.light .inputContainer {
  background-color: var(--color-light-3);
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.button {
  padding: 8px 16px;
  background-color: var(--color-light-3);
  color: var(--color-light-main-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-light-2); /* hover 시 버튼 색상 변경 */
}

body.light .button {
  background-color: var(--color-dark-3);
  color: var(--color-dark-main-text);
}


body.light .button:hover {
  background-color: var(--color-dark-2);
  color: var(--color-dark-main-text);
}



.clearButton {
  padding: 10px 15px;
  border: none;
  background-color: #e74c3c; /* 삭제 버튼 색상 변경 */
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* hover 효과를 위한 transition 추가 */
}

.adminButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
}

.clearButton:hover {
  background-color: #c0392b; /* hover 시 삭제 버튼 색상 변경 */
}

/* 스크롤바 스타일 */
.chatBox::-webkit-scrollbar {
  width: 8px;
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* 스크롤바 색상 */
  border-radius: 4px;
}

.chatBox::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 스크롤바 트랙 색상 */
}
