.join {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.join .join-con {
  display: flex;
  box-sizing: border-box;
  width: 50%;
}

.join .join-con form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.join .join-con .email,
.join .join-con .password,
.join .join-con .password_check,
.join .join-con .nickname {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.join .join-con div div {
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.join .join-con div div .eye {
  width: 20px;
  position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.join .join-con div div .eye > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  cursor: pointer;
}

.join .join-con div span {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}

.join .join-con > input:focus {
  border-color: var(--color-light-1);
  /* 포커스 시 테두리 색상 변경 */
  box-shadow: none;
  /* 포커스 시 그림자 제거 */
}

#email, #pw, #pw_check, #nickname {
  max-width: 350px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* 둥글게 만들기 */
  
  /* 패딩 추가 */
  outline: none;
  box-sizing: border-box;
  padding: 0 60px 0 20px;
}

.join .join-con .btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.join .join-con .btn > button{
  width: 100%;
  max-width: 350px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;  
  background-color: var(--color-sub-point);
  color: var(--color-light-text);
}

.join .join-con .btn > .loginBtn {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.join .join-con .btn > .loginBtn > a {
  color: var(--color-main-point);
  font-weight: bolder;
}

#error-msg {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#error-msg > * {
  color: var(--color-red);
  font-size: 12px;
}