.index .index-con {
  margin-top: -80px;
}


.index .index-con .title {
  position: relative;
  width: 100%;
  height: 600px;
  /* 원하는 높이로 조정 */
  overflow: hidden;
  /* 이미지를 넘치지 않도록 */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-text);
  background-color: var(--color-dark-1);
}

.index .index-con .title > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  /* 부모 높이와 동일 */
  object-fit: cover;
  /* 이미지가 영역에 맞게 잘림/확대 */
  filter: brightness(30%);
  /* 어둡게 보이게 조정 */
  z-index: 0;
  /* 뒤에 배치 */
}

.index .index-con .title .title-con {
  position: relative;
  z-index: 1;
  /* 이미지보다 위에 텍스트를 배치 */
  /* 가운데 정렬이나 여백을 주고 싶다면 추가 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  /* 좌우 여백 */
  color: var(--color-dark-text);
}

.index .index-con .title .title-con>* {
  color: var(--color-dark-text);
}

.index .index-con .title .title-con .movieBtn {
  display: flex;
  gap: 20px;
}

.index .index-con .title .title-con .movieBtn button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--color-light-text);
  transition: all 0.5s ease;
  
}

.index .index-con .title .title-con .movieBtn button:hover {
  filter: opacity(80%)
}

.index .index-con .main-content {
  box-sizing: border-box;
  padding: 0 10px;
}

body.light .index .index-con .main-content>h3 {
  color: var(--color-light-text);
}

.index .index-con .main-content .popular-movie {
  display: flex;
  gap: 30px;
  padding: 50px 0;
}

.index .index-con .main-content .popular-movie .popular-movie-btn {
  display: flex;
  align-items: center;
}
.index .index-con .main-content .popular-movie .popular-movie-btn>* {
  display: flex;
  background-color: var(--color-dark-1);
  border-radius: 100px;
  color: var(--color-main-point);
  transition: all 0.5s ease;
}

.index .index-con .main-content .popular-movie .popular-movie-btn > .right:hover,
.index .index-con .main-content .popular-movie .popular-movie-btn > .left:hover {
  filter: brightness(120%);
  scale: 1.5;
}

.index .index-con .main-content .popular-movie>ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 500px;
  gap: 2vw;
  grid-auto-columns: 50px;
  grid-auto-flow: column;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  /*firefox*/
}

.index .index-con .main-content .popular-movie>ul::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.index .index-con .main-content .popular-movie>ul>li {
  display: inline-grid;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
}

.index .index-con .main-content .popular-movie>ul>li>* {
  backface-visibility: hidden;
  grid-area: 1 / 1 / 1 / 1;
}

.index .index-con .main-content .popular-movie>ul>li:hover {
  transform: perspective(1000px) rotateY(180deg);
}

.index .index-con .main-content .popular-movie>ul>li .item-front,
.index .index-con .main-content .popular-movie>ul>li .item-back {
  backface-visibility: hidden;
}

.index .index-con .main-content .popular-movie>ul>li .item-front span {
  position: absolute;
  bottom: 0%;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
  color: var(--color-dark-main-text);
  font-style: italic;
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1000px)rotateY(180deg);
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back .boxOfficeDetail {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back .boxOfficeDetail button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back .boxOfficeDetail button:nth-child(2) {
  
  background-color: var(--color-main-point);
  color: var(--color-light-text);
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back .boxOfficeDetail button:nth-child(3) {
  color: var(--color-light-text);
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back .boxOfficeDetail button:hover {
  filter: opacity(80%)
}

.index .index-con .main-content .popular-movie>ul>li>div {
  width: 100%;
  position: relative;
}

.index .index-con .main-content .popular-movie>ul>li>div>img {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  z-index: 1;
  filter: brightness(70%);
}

.index .index-con .main-content .popular-movie>ul>li>div.item-back>img {
  filter: brightness(20%);
}

.index .index-con .main-content .popular-movie>ul>li>div>.boxOfficeDetail {
  position: absolute;
  top: 0%;
  z-index: 2;
}

.index .index-con .main-content .popular-movie>ul>li>div>.boxOfficeDetail>h4 {
  color: var(--color-dark-text);
}

.index .index-con .main-content .popular-movie>ul>li>div>.boxOfficeDetail>* {
  z-index: 3;
  filter: none;
  color: var(--color-light-text);
  font-weight: bold;
  font-size: 20px;
}

body.light>nav a {
  color: var(--color-dark-text);
}

body.light .movie-info > h6 {
  color: var(--color-dark-text);
}

.movie-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.age-rating-icon {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  object-fit: cover;
}

/* 반응형 스타일 */
@media (max-width: 1023px) {
  .index .index-con {
    margin-top: -20px;
  }

    .index .index-con .title {
        height: 400px;
    }

    .index .index-con .title > img {
        height: 400px;
    }

    .index .index-con .title .title-con {
        padding: 20px;
        box-sizing: border-box;
    }

    .index .index-con .title .title-con h4.movie-plot {
      display: -webkit-box; /* Flexbox처럼 동작하게 설정 */
      -webkit-line-clamp: 2; /* 텍스트가 두 줄까지만 표시되게 설정 */
      -webkit-box-orient: vertical; /* 세로로 텍스트 정렬 */
      overflow: hidden; /* 넘치는 텍스트 숨기기 */
      text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
      white-space: normal; /* 텍스트 줄 바꿈 허용 */
    }

    .index .index-con .title .title-con .movieBtn button {
        width: 150px;
        height: 35px;
        font-size: 14px;
    }

    .index .index-con .main-content .popular-movie {
        gap: 15px;
        padding: 30px 0;
        box-sizing: border-box;
    }
}