.chatList {
  display: flex;
  padding: 30px;
  flex-direction: column;
  box-sizing: border-box;
}

.chatList ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 500px;
}

.chatList ul > li > .message{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}