@import url('../css/MainContent.css');

.screening-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    flex: 3 0 500px;
    width: 75%;
    box-shadow: 0 4px 15px var(--color-shadow);
    transition: box-shadow 0.5s ease;
    border-radius: 0 20px 20px 0;
  }
  
  body.dark .screening-content {
    background-color: var(--color-dark-3);
  }

.seat-selection-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.seat-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.screen {
    width: 80%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
}

body.dark .screen {
    background-color: var(--color-light-3);
    color: var(--color-light-text);
}

body.light .screen {
    background-color: var(--color-dark-3);
    color: var(--color-dark-text);

}

.seat-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.seat-row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.seat {
    display: flex;
    width: 10px;
    height: 10px;
    padding: 8px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.seat-row .seat:nth-child(7) {
    margin-left: 10px;
}

.seat-row .seat:nth-child(18) {
    margin-right: 10px;
}

/* 사용 가능한 좌석 */
.seat.available {
    background-color: var(--color-light-1);
    color: var(--color-dark-1);
    box-sizing: border-box;
    border: 1px solid var(--color-dark-1);
}

.seat.available:hover {
    background-color: var(--color-light-3);
    color: var(--color-dark-1);
    border: 1px solid var(--color-green);
    transition: 0.3s;
    box-sizing: border-box;
}

body.dark .seat.available {
    border: 1px solid var(--color-light-1);
}

/* 선택된 좌석 */
.seat.selected {
    background-color: var(--color-green);
    color: var(--color-light-1);
    border: 1px solid var(--color-green);
    font-weight: bold;
    box-sizing: border-box;
}

.seat.disabled {
    background-color: var(--color-light-3);
    color: var(--color-light-1);
    cursor: not-allowed;
    opacity: 0.6;
    position: relative;
    /* 의사 요소가 상대적으로 위치하도록 설정 */
    display: flex;
    /* X 표시를 중앙에 위치 */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 넘치는 내용 숨김 */
    box-sizing: border-box;
}

/* 예약된 좌석에 X 표시 */
.seat.disabled::before {
    content: "×";
    font-size: 20px;
    /* 크기 조정 */
    font-weight: bold;
    color: var(--color-red);
    position: absolute;
    /* 좌석의 중앙에 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    /* X 표시 클릭 불가능 */
    box-sizing: border-box;
}


.seat.disabled:hover {
    background-color: var(--color-dark-3);
    border: 1px solid var(--color-red);
    transition: 0.3s;
    box-sizing: border-box;
}

.selected-seats {
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
}

.selected-seats h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.selected-seats p {
    font-size: 1.2rem;
    color: var(--color-dark-3);
}

.cart-go {
    margin-top: 20px;
}

.cart-go button {
    padding: 10px 20px;
    background-color: var(--color-main-point);
    color: var(--color-dark-1);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: bolder;
}

@media (max-width: 1023px) {

    .screening-content {
      width: 100%;
      border-radius: 20px;
      gap: 4px;
    }

    .screening-content .movie-title {
        font-size: 14px;
    }

    .screening-content .seat-selection-con > .seat-title{
        font-size: 12px;
    }

    .screening-content .seat-container {
        gap: 8px;
        overflow-y: hidden;
        overflow-x: auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .screening-content .seat-container .row {

    }

    
    .seat-row {
        gap: 2px;
    }

    .seat {
        width: 5px;
        height: 5px;
        padding: 6px;
        border-radius: 3px;
        font-size: 8px;
    }
  }

  @media (max-width: 484px) {
    .screening-content .seat-container .row {
        margin-left: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}