.board-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.search-form>select {
  width: 120px;
  /* select 박스 너비 조정 */
  height: 35px;
  /* select 박스 높이 조정 */
  border: none;
  /* 기본 테두리 제거 */
  border-radius: 20px;
  /* 둥근 모서리 */
  padding: 0 15px;
  /* 내부 여백 조정 */
  font-size: 14px;
  background-color: var(--color-dark-2);
  /* select 박스 배경색 */
  color: var(--color-dark-main-text);
  /* select 박스 글자색 */
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
}

body.light .search-form>select {
  background-color: var(--color-light-2);
  color: var(--color-light-main-text);
}

.search-form>input {
  width: 250px;
  /* input 박스 너비 조정 */
  height: 35px;
  /* input 박스 높이 조정 */
  border: none;
  /* 기본 테두리 제거 */
  border-radius: 20px;
  /* 둥근 모서리 */
  padding: 0 15px;
  /* 내부 여백 조정 */
  font-size: 14px;
  background-color: var(--color-dark-2);
  /* input 박스 배경색 */
  color: var(--color-dark-main-text);
  /* input 박스 글자색 */
  outline: none;
  /* 포커스 시 테두리 제거 */
}

body.light .search-form>input {
  background-color: var(--color-light-2);
  color: var(--color-light-main-text);
}


.search-form>button {
  width: 80px;
  height: 35px;
  border: none;
  /* 기본 테두리 제거 */
  border-radius: 20px;
  /* 둥근 모서리 */
  background-color: var(--color-main-point);
  /* 버튼 배경색 */
  color: var(--color-light-main-text);
  /* 버튼 글자색 */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* hover 시 부드러운 전환 효과 */
}

.search-form>button:hover {
  background-color: var(--color-sub-point);
  /* hover 시 배경색 변경 */
}

.category {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.board-memberNickName > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
  max-width: 300px;
}

.board-title > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
  max-width: 300px;
}

.board-category > select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 300px;
}

.board-category > select > option {
  width: 100%;
  height: 40px;
  padding: 0;
  cursor: pointer;
  max-width: 300px;
}

.board-content > textarea {
  width: 100%;
  height: 300px;
  padding: 0 10px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border: none;
  resize: none;
  max-width: 300px;
}

.board-upload > .file-upload {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  color: var(--color-light-main-text);
  max-width: 300px;
}

.board-upload > .file-upload > .upload-btn {
  width: 150px;
    height: 30px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    gap: 5px;
    cursor: pointer;
    background-color: var(--color-dark-3);
    color:var(--color-dark-main-text);
}

body.light .board-upload > .file-upload > .upload-btn {
  background-color: var(--color-light-3);
  color: var(--color-light-main-text);
}


.board-upload  > input[type="file"] {
  display: none;
}

body.light .board-upload > input {
  color: var(--color-light-text);
}

.board-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--color-main-point);
}

.admin-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-modal-content form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-modal-content {
  background: var(--color-dark-2);
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

body.light .admin-modal-content {
  background: var(--color-light-2);
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}



.category button {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 40px;
  background-color: var(--color-dark-3);
  color: var(--color-dark-text);
  font-weight: bold;
}

body.light .category button {
  background-color: var(--color-light-3);
  color: var(--color-light-text);
}

.category button.active-category,
body.light .category button.active-category {
  background-color: var(--color-main-point);
  color: var(--color-light-main-text);
}

.board-list table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.board-list th,
td {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.board-list th {
  background-color: #333;
  color: white;
}

.board-list tr {
  color: var(--color-dark-main-text);
}

body.light .board-list tr {
  color: var(--color-light-main-text);
}

.board-list tr:nth-child(even) {
  background-color: #0f0f0f;
}

body.light .board-list tr:nth-child(even) {
  background-color: #f9f9f9;
}


.board-list img {
  max-width: 30px;
  max-height: 18px;
}

.boardList_title {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: red;
}

.member-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content > .board-title,
.modal-content > .board-content,
.modal-content > .board-upload,
.modal-content > .board-category,
.modal-content > .board-memberNickName {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.member-modal-content {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.modal-actions > button {
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* 상단 여백 추가 */
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  /* 패딩 조정 */
  border: none;
  /* 테두리 제거 */
  border-radius: 20px;
  /* 둥근 모서리 */
  background-color: var(--color-dark-3);
  /* 배경색 */
  color: var(--color-dark-text);
  /* 글자색 */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  /* 배경색 변경 시 트랜지션 효과 추가 */
}

body.light .pagination button {
  background-color: var(--color-light-3);
  color: var(--color-light-text);
}

/* 현재 페이지에 해당하는 버튼 스타일 */
.pagination button.active,
body.light .pagination button.active {
  background-color: var(--color-main-point);
  /* 활성 버튼 배경색 */
  color: var(--color-light-main-text);
  /* 활성 버튼 글자색 */
}

/* 비활성화된 버튼 스타일 */
.pagination button:disabled,
body.light .pagination button:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  /* 비활성화되지 않은 버튼에만 hover 적용 */
  background-color: var(--color-sub-point);
}