.admin-chatbot-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%; /* 전체 width */
}

.help-messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.help-message-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-3);
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  color: var(--color-dark-main-text);
  width: 100%;
  box-sizing: border-box; /* padding을 포함한 너비 계산 */
}

body.light .help-message-item {
  background-color: var(--color-light-3);
  color: var(--color-light-main-text);
}

.help-message-item .edit-btn {
  /* 수정 버튼에 클래스명 변경  */
  background-color: var(--color-main-point);
  color: var(--color-light-main-text);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.help-message-item .edit-btn:hover {
  /* 수정 버튼에 클래스명 변경  */
  background-color: var(--color-sub-point);
}

.admin-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-modal-content {
  background-color: var(--color-dark-2);
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: var(--color-light-main-text);
  box-sizing: border-box;
  position: relative; /* modal-close-btn의 위치 조정을 위해 추가 */
}

body.light .admin-modal-content {
  background-color: var(--color-light-2);
  color: var(--color-dark-main-text);
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.modal-actions > button {
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.modal-actions > button:hover {
  background-color: var(--color-sub-point);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.add-message-container {
  display: flex;
  justify-content: center;
}

.add-message-btn {
  padding: 10px 20px;
  background-color: var(--color-main-point);
  color: var(--color-light-main-text);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: fit-content; /* 내용에 맞게 너비 자동 조절 */
}

.add-message-btn:hover {
  background-color: var(--color-sub-point);
}

.new-message-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-message-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-light-2);
  color: var(--color-dark-main-text);
  font-size: 14px;
  box-sizing: border-box;
}

.new-message-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.add-btn {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-dark-3);
  color: var(--color-light-main-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* 추가 */
  font-weight: bold;
}

.cancel-btn {
  background-color: var(--color-dark-2);
}

.add-btn {
  background-color: var(--color-main-point);
}

.cancel-btn:hover,
.add-btn:hover {
  background-color: var(--color-sub-point);
}

.edit-message-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-light-2);
  color: var(--color-dark-main-text);
  font-size: 14px;
  box-sizing: border-box;
}

.admin-modal-content > textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border: none;
  resize: none;
  color: var(--color-dark-main-text);
  background-color: var(--color-dark-3);
}

body.light .admin-modal-content > textarea {
  background-color: var(--color-light-3);
  color: var(--color-light-main-text);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* 모달 액션과 내용 사이에 간격을 주기 위해 추가 */
}

.cancel-btn,
.delete-btn,
.update-btn {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* 추가 */
  font-weight: bold;
}

.cancel-btn {
  background-color: var(--color-dark-3);
  color: var(--color-dark-main-text);
}

.delete-btn {
  background-color: var(--color-sub-point);
  color: var(--color-light-main-text);
  /* 추가 */
}

.update-btn {
  background-color: var(--color-main-point);
  color: var(--color-light-main-text);
  /* 추가 */
}

.cancel-btn:hover,
.delete-btn:hover,
.update-btn:hover {
  /* 추가 */
  background-color: var(--color-sub-point);
}
